<a href="https://colab.research.google.com/github/carolineparmentier/ds1002-ccp6j/blob/main/Copy_of_03_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Metadata

```
Course:      DS 1002
Week:        Python Basics
Topic:       Python Types, Operators, and Expressions
```

# Comments

You can comment out any single line with a # character.
    
    # Here is a comment

You can comment out multiple lines using triple quote marks on both ends.

```python
"""
Here is a long comment that takes up several lines.
I wonder how long it will go?
Okay maybe just three lines long
"""
```

# Reserved Keywords

Reserved keywords have specific meanings and restrictions on how they should be used.

More examples:

`False`   
`await`
`else`
`import`   
`pass`  
`None`   
`break`   
`except`   
`in`   
`raise`   
`True`   
`class`   
`finally`   
`is`
`return`   
`and`   
`continue`   
`for`   
`lambda`   
`try`   
`as`   
`def`   
`from`   
`nonlocal`   
`while`   
`assert`   
`del`   
`global`
`not`   
`with`   
`async`   
`elif`	  
`if`   
`or`   
`yield`

# Variables & Types

Variables are assigned types **dynamically**.

In [ ]:
# variable name = assigned value
x = 4
x

In [ ]:
y = 100 + 25
y

In [ ]:
# can type variable to get value
x

In [ ]:
# can use print() function to view assigned value
# the print() function has a lot of uses and will be discussed later
print(x)

In [ ]:
# reassign variable
x = 5
x

In [ ]:
# variable arithmetic
x + y

In [ ]:
# variables of other data types
float_var = 4.22
string_var = 'virginia'
bool_var = True

In [ ]:
type(float_var) # gives you type of data variable is holding

In [ ]:
# delete a variable with function del()
del(x)

x

## Object ID

Every variable created in Python is given a unique ID.

This ID where the variable is stored in memory. The ID is for the variable, not the variable's value.

> Exception: if the number is between -5 - 256 or a simple string with no spaces, it will not be given a unique id for memory optimization purposes

We can find an object's ID using `id()`

In [ ]:
a = 278

In [ ]:
b = 278

In [ ]:
print(id(a))
print(id(b))

In [ ]:
a == b # 2 = 2

In [ ]:
id(a) == id(b)

## Converting Data Types

When needed you can 'cast' a variable as a different string type (remember Python automatically assigns data type to a variable).

We do this through casting functions:

**`int()`**

In [ ]:
# create float variable
var_float = 9.6
type(var_float)

In [ ]:
# cast float to integer
var_int = int(var_float)

print(type(var_int))
var_int

**`float()`**

In [ ]:
# create string variable
var_str = '10.2'
type(var_str)

In [ ]:
# cast string to float
var_float = float(var_str)
print(type(var_float))
print(var_float)

# Operators

If variables are **nouns**, and values **meanings**, then operators are **verbs**.

In effect, they are **elementary functions** that are expressed in sequential syntax.

**Each data type is associated with a set of operators** that allow you to manipulate the data in way that makes sense for its type. Numeric data types are subject to mathematical operations, booleans to logical ones, and so forth.

There are also **operations appropriate to structures**. For example, list-like things have membership.

The relationship between types and operators is a microcosm of the relationship betweed data structures and algorithms. **Data structures imply algorithms and algorithms assume data structures.**

The w3schools site has [a good summary](https://www.w3schools.com/python/python_operators.asp).

## Numeric Operators

Common: `+`, `-`, `*`, `/`



Other operators:

**floor division `//`**

returns the largest integer less than or equal to the result

In [ ]:
5 // 2

In [ ]:
-5 // 2

**modulus `%`**

returns the remainder after a division operation

In [ ]:
5 % 2

In [ ]:
print(5.5 / 2)
print(5.5 // 2)
print(5.5 % 2)

**exponentiation `**` **

In [ ]:
5**2

## String Operators

**concatenation `+`**

In [1]:
string1 = 'Hello world!'
string2 = 'Goodbye world!'

string1 + string2

'Hello world!Goodbye world!'

In [2]:
string1 + string2 + ' Hello again!'

'Hello world!Goodbye world! Hello again!'

In [3]:
print(string1 + string2 + ' Hello again!')

Hello world!Goodbye world! Hello again!

**repetition `*`**

In [4]:
string1 * 2

'Hello world!Hello world!'

In [5]:
# '\n' moves to the next line (like hitting the return button)
print((string1 + '\n') * 5)

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

**subsetting a string**

In [6]:
# extract the first 2 characters
string1[:2]

'He'

In [7]:
# extract the last 2 characters
string1[-2:]

'd!'

In [8]:
string1.startswith('o')

False

In [9]:
string1.endswith('!')

True

**Python strings are *immutable* - cannot reassign elements**

In [ ]:
string1[0] = 'Y'

## Comparison Operators

comparisons are questions and return boolean values

**equality `==`**

In [10]:
# numeric
25 == 4**2 + 9

True

In [11]:
# string
string1 == string2

False

**inequality `!=`**

In [12]:
# numeric
25 != 20 + 6

True

In [13]:
# string
string1 != string2

True

**greater than `>`, less than `<`**

In [ ]:
20 > 10

In [ ]:
2*10 >= 20

In [ ]:
3%2 < 5

In [ ]:
-3 <= 0

## Logical Operators

**conjunctions `and`, `or`, `not`**

Note the we group comparisons with parentheses

In [14]:
x = 10

(x % 10 == 0) or (x < -1)

True

In [ ]:
(x % 10 == 0) and (x < -1)

In [ ]:
not x == 5

**Identity `is`**

The `is` keyword is used to test if two variables refer to the same object.

The test returns `True` if the two objects are the same object.

The test returns False if they are not the same object, even if the two objects are 100% equal.

Use the `==` operator to test if two variables are equal.

-- from [W3Schools on Identity Operators](https://www.w3schools.com/python/gloss_python_identity_operators.asp)

In [ ]:
x = ['apple', 'banana']
y = ['apple', 'banana']
z = x

In [ ]:
x is z

In [ ]:
x is y

In [ ]:
x == y

In [ ]:
x == z

**`isinstance()`**

function returns `True` if the specified object is of the specified type, otherwise `False`

In [ ]:
#example

isinstance("Hello", (float, int, str))

In [ ]:
#example
isinstance("Hello", int)

## Unary Operators

Python offers a short-cut for most operators. When updating a variable with an operation to that variable, such as:
```python
my_var = my_var + 1  # Incrementing
```

You can do this:
```python
my_var += 1
```

Python supports many operators this way. Here are some:
```python
a -= a
a \= a
a \\= a
a %= a
a *= a
a **= a
```

## Expressions

Variables, literal values, and operators are the building blocks of expressions.

For example, the following combines three operators and four variables:

In [15]:
1 + 2 * 3 / 2

4.0

Python employs **operator precedence** when evaluating expressions:

```
P – Parentheses
E – Exponentiation
M – Multiplication
D – Division
A – Addition
S – Subtraction
```

In [16]:
(1 + 2) * (3 / 2)

4.5

Variables and literal values can be combined:

In [17]:
y = 5
m = 2.5
b = 10

In [18]:
y = m * 10 + b
y

35.0

In [19]:
y = m * 5 + b
y

22.5

Expresssions can be very complex.

Expressions evaluate to a value, just as single variables do.

Therefore, they can be put anywhere a value is accepted.

In [ ]:
int((y + 10) ** 8)