<a href="https://colab.research.google.com/github/carolineparmentier/ds1002-ccp6j/blob/main/Parmentier_week_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [ ]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [43]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"

my_integers <- 1:7
my_integers

[1] 1 2 3 4 5 6 7

In [32]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

In [40]:
var5 <- var2 / var1
var6 <- (var2**3) * var3
var7 <- var4 %/% var3

var5
var6
var7

my_calculated_values <- c(var5, var6, var7)
my_calculated_values

[1] 0.5

[1] 768

[1] 2

[1]   0.5 768.0   2.0

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [13]:
#
increments <- seq(from=4, to=28, by=3)
increments

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [14]:
#
increments[-3]

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [15]:
#
increments[c(1,2,3,6,8,9)] -> increments
increments

[1]  4  7 10 19 25 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [23]:
#
artist <- c("Hozier", "John Mayer", "Jack Johnson", "The Beatles", "Bob Marley & The Wailers", "Adele", "Nirvana", "Jay-Z", "U2", "Aretha Franklin")
category <- c("Alternative", "Rock", "Rock", "Rock", "Reggae", "Pop","Grunge","Hip hop", "Rock", "Soul")
size <- c(1, 1, 1, 4, 3, 1, 3, 1, 4, 1)
start <- c(2013, 2001, 2003, 1963, 1971, 2008, 1989, 1996, 1980, 1956)
grammy <- c(FALSE, TRUE, FALSE, TRUE, FALSE, TRUE, TRUE, TRUE, TRUE, TRUE)

df <- data.frame(Artist = artist, Category = category, Members = size, Start = start, Grammy = grammy)

In [24]:
df

   Artist                   Category    Members Start Grammy
1  Hozier                   Alternative 1       2013  FALSE
2  John Mayer               Rock        1       2001   TRUE
3  Jack Johnson             Rock        1       2003  FALSE
4  The Beatles              Rock        4       1963   TRUE
5  Bob Marley & The Wailers Reggae      3       1971  FALSE
6  Adele                    Pop         1       2008   TRUE
7  Nirvana                  Grunge      3       1989   TRUE
8  Jay-Z                    Hip hop     1       1996   TRUE
9  U2                       Rock        4       1980   TRUE
10 Aretha Franklin          Soul        1       1956   TRUE

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [25]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.

df[1:3, c(1,2,5)]

  Artist       Category    Grammy
1 Hozier       Alternative FALSE
2 John Mayer   Rock         TRUE
3 Jack Johnson Rock        FALSE

In [41]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.

df[df$Category == "Rock",]

  Artist       Category Members Start Grammy
2 John Mayer   Rock     1       2001   TRUE
3 Jack Johnson Rock     1       2003  FALSE
4 The Beatles  Rock     4       1963   TRUE
9 U2           Rock     4       1980   TRUE

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [27]:
#
install.packages("tidyverse")
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [42]:
head(starwars)

#or

str(starwars)

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

tibble [87 × 14] (S3: tbl_df/tbl/data.frame)
 $ name      : chr [1:87] "Luke Skywalker" "C-3PO" "R2-D2" "Darth Vader" ...
 $ height    : int [1:87] 172 167 96 202 150 178 165 97 183 182 ...
 $ mass      : num [1:87] 77 75 32 136 49 120 75 32 84 77 ...
 $ hair_color: chr [1:87] "blond" NA NA "none" ...
 $ skin_color: chr [1:87] "fair" "gold" "white, blue" "white" ...
 $ eye_color : chr [1:87] "blue" "yellow" "red" "yellow" ...
 $ birth_year: num [1:87] 19 112 33 41.9 19 52 47 NA 24 57 ...
 $ sex       : chr [1:87] "male" "none" "none" "male" ...
 $ gender    : chr [1:87] "masculine" "masculine" "masculine" "masculine" ...
 $ homeworld : chr [1:87] "Tatooine" "Tatooine" "Naboo" "Tatooine" ...
 $ species   : chr [1:87] "Human" "Droid" "Droid" "Human" ...
 $ films     :List of 87
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:6] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:7] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:4] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:3] "Attack of the Clones" "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:3] "Attack of the Clones" "Revenge of the Sith" "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr [1:6] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:4] "The Empire Strikes Back" "Return of the Jedi" "A New Hope" "The Force Awakens"
  ..$ : chr "A New Hope"
  ..$ : chr [1:3] "The Phantom Menace" "Return of the Jedi" "A New Hope"
  ..$ : chr [1:3] "The Empire Strikes Back" "Return of the Jedi" "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:5] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:3] "The Empire Strikes Back" "Attack of the Clones" "Return of the Jedi"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr [1:2] "The Empire Strikes Back" "Return of the Jedi"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr [1:2] "Return of the Jedi" "The Force Awakens"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "Return of the Jedi"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr [1:2] "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
 $ vehicles  :List of 87
  ..$ : chr [1:2] "Snowspeeder" "Imperial Speeder Bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Imperial Speeder Bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tribubble bongo"
  ..$ : chr [1:2] "Zephyr-G swoop bike" "XJ-6 airspeeder"
  ..$ : chr(0)
  ..$ : chr "AT-ST"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Snowspeeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tribubble bongo"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Sith speeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Flitknot speeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Koro-2 Exodrive airspeeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tsmeu-6 personal wheel bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
 $ starships :List of 87
  ..$ : chr [1:2] "X-wing" "Imperial shuttle"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "TIE Advanced x1"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "X-wing"
  ..$ : chr [1:5] "Jedi starfighter" "Trade Federation cruiser" "Naboo star skiff" "Jedi Interceptor" ...
  ..$ : chr [1:3] "Trade Federation cruiser" "Jedi Interceptor" "Naboo fighter"
  ..$ : chr(0)
  ..$ : chr [1:2] "Millennium Falcon" "Imperial shuttle"
  ..$ : chr [1:2] "Millennium Falcon" "Imperial shuttle"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "X-wing"
  ..$ : chr "X-wing"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Slave 1"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Millennium Falcon"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "A-wing"
  ..$ : chr(0)
  ..$ : chr "Millennium Falcon"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Naboo Royal Starship"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Scimitar"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Jedi starfighter"
  ..$ : chr(0)
  ..$ : chr "Naboo fighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Belbullab-22 starfighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "T-70 X-wing fighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr [1:3] "H-type Nubian yacht" "Naboo star skiff" "Naboo fighter"

In [31]:
starwars %>%
  select(name, height, sex, species) %>%
  filter(species != "Human") %>%
  arrange(name)

   name                  height sex            species
1  Ackbar                180    male           Mon Calamari
2  Adi Gallia            184    female         Tholothian
3  Ayla Secura           178    female         Twi'lek
4  BB8                    NA    none           Droid
5  Barriss Offee         166    female         Mirialan
6  Ben Quadinaros        163    male           Toong
7  Bib Fortuna           180    male           Twi'lek
8  Bossk                 190    male           Trandoshan
9  C-3PO                 167    none           Droid
10 Chewbacca             228    male           Wookiee
11 Darth Maul            175    male           Zabrak
12 Dexter Jettster       198    male           Besalisk
13 Dud Bolt               94    male           Vulptereen
14 Eeth Koth             171    male           Zabrak
15 Gasgano               122    male           Xexto
16 Greedo                173    male           Rodian
17 Grievous              216    male           Kaleesh
18 IG-88                 200    none           Droid
19 Jabba Desilijic Tiure 175    hermaphroditic Hutt
20 Jar Jar Binks         196    male           Gungan
21 Ki-Adi-Mundi          198    male           Cerean
22 Kit Fisto             196    male           Nautolan
23 Lama Su               229    male           Kaminoan
24 Luminara Unduli       170    female         Mirialan
25 Mas Amedda            196    male           Chagrian
26 Nien Nunb             160    male           Sullustan
27 Nute Gunray           191    male           Neimodian
28 Plo Koon              188    male           Kel Dor
29 Poggle the Lesser     183    male           Geonosian
30 R2-D2                  96    none           Droid
31 R4-P17                 96    none           Droid
32 R5-D4                  97    none           Droid
33 Ratts Tyerell          79    male           Aleena
34 Roos Tarpals          224    male           Gungan
35 Rugor Nass            206    male           Gungan
36 Saesee Tiin           188    male           Iktotchi
37 San Hill              191    male           Muun
38 Sebulba               112    male           Dug
39 Shaak Ti              178    female         Togruta
40 Tarfful               234    male           Wookiee
41 Taun We               213    female         Kaminoan
42 Tion Medon            206    male           Pau'an
43 Wat Tambor            193    male           Skakoan
44 Watto                 137    male           Toydarian
45 Wicket Systri Warrick  88    male           Ewok
46 Yarael Poof           264    male           Quermian
47 Yoda                   66    male           Yoda's species
48 Zam Wesell            168    female         Clawdite